<div class="container p-3">
  <div class="row">
    <div class="index-head">
      <h1>All our Flats</h1>
      <p>All <%= @flats.count %> flats.</p>
    </div>
  </div>

  <div class="row">
    <div class="flat-cards">
      <% @flats.each do |flat| %>
        <div class="flat-card shadow-sm">
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h3><%= flat.name %></h3>
              <p><%= flat.address %></p>
            </div>

            <div class="flat-card-numbers">
              <i class="fas fa-user-friends mr-1"></i>
              <%= flat.number_of_guests %>
              <i class="fas fa-euro-sign ml-4 mr-1"></i>
              <%= flat.price_per_night %>
            </div>
          </div>
          <hr>
          <div class="flat-card-bottom">
            <%= link_to 'More info', flat_path(flat)%>
            <%= link_to 'Edit', '#', class: 'text-warning' %>
            <%= link_to 'Remove', '#', class: 'text-danger' %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

